<div layout="row" style="display:flex;justify-content:center;align-items:center;height:100%;width:100%; gap:3rem; flex-wrap:wrap">
<mat-card style="min-width:250px; min-height:300px;" class="ΝΔ">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Νέα Δημοκρατία</mat-card-title>
  </mat-card-header>
  <img mat-card-xl-image src="https://pbs.twimg.com/profile_images/743859600575848448/uWUFGvx0_400x400.jpg">
  <mat-card-actions align=end>
    <button mat-raised-button color="accent" routerLink="/county-candidates" [queryParams]="{user:user,county:county}">Select</button>
  </mat-card-actions>
</mat-card>



<mat-card style="min-width:250px; min-height:300px;" class="Σύριζα">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Σύριζα</mat-card-title>
  </mat-card-header>
  <img mat-card-xl-image src="https://www.pellanews.gr/sites/default/files/2020-09-15.jpg">
  <mat-card-actions align=end>
    <button mat-raised-button color="accent" routerLink="/county-candidates" [queryParams]="{user:user,county:county}">Select</button>
  </mat-card-actions>
</mat-card>



<mat-card style="min-width:250px; min-height:300px;" class="KKE">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>KKE</mat-card-title>
  </mat-card-header>
  <img mat-card-xl-image src="https://pbs.twimg.com/profile_images/1235123426081329152/sWjhxEtH_400x400.png">
  <mat-card-actions align=end>
    <button mat-raised-button color="accent" routerLink="/county-candidates" [queryParams]="{user:user,county:county}">Select</button>
  </mat-card-actions>
</mat-card>
</div>


